.u-section-1 .u-sheet-1 {
  min-height: 706px;
}

.u-section-1 .u-form-1 {
  height: 154px;
  margin: 20px 0 0 958px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin: 20px 0 30px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 466px;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 9px 10px;
}

.u-section-1 .u-image-1 {
  height: 305px;
  margin: 2px 0 0;
}

.u-section-1 .u-group-elements-1 {
  width: 82px;
  min-height: 23px;
  margin: 19px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: -21px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: -22px 0 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 12px 180px 0 3px;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 11px 197px 0 3px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: none;
  margin: 10px auto 0;
  padding: 4px 137px 5px 135px;
}

.u-section-1 .u-icon-1 {
  vertical-align: 0px;
}

.u-section-1 .u-container-layout-2 {
  padding: 9px 10px;
}

.u-section-1 .u-image-2 {
  height: 305px;
  margin: 2px 0 0;
}

.u-section-1 .u-group-elements-2 {
  width: 82px;
  min-height: 23px;
  margin: 19px auto 0 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  margin: -21px auto 0 0;
}

.u-section-1 .u-text-8 {
  margin: -22px 0 0 auto;
}

.u-section-1 .u-text-9 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 12px 180px 0 3px;
}

.u-section-1 .u-text-10 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 11px 197px 0 3px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: none;
  margin: 10px auto 0;
  padding: 4px 137px 5px 135px;
}

.u-section-1 .u-container-layout-3 {
  padding: 9px 10px;
}

.u-section-1 .u-image-3 {
  height: 305px;
  margin: 2px 0 0;
}

.u-section-1 .u-group-elements-3 {
  width: 82px;
  min-height: 23px;
  margin: 19px auto 0 0;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 0 auto;
}

.u-section-1 .u-text-12 {
  margin: -21px auto 0 0;
}

.u-section-1 .u-text-13 {
  margin: -22px 0 0 auto;
}

.u-section-1 .u-text-14 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 12px 180px 0 3px;
}

.u-section-1 .u-text-15 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 11px 197px 0 3px;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: none;
  margin: 10px auto 0;
  padding: 4px 137px 5px 135px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-left: 758px;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 385px;
  }

  .u-section-1 .u-image-1 {
    height: 249px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-elements-1 {
    height: auto;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    height: 249px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-elements-2 {
    height: auto;
    margin-top: 76px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    height: 249px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-elements-3 {
    height: auto;
    margin-top: 75px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-left: 538px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 885px;
  }

  .u-section-1 .u-image-1 {
    height: 289px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 289px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-elements-2 {
    margin-top: 36px;
  }

  .u-section-1 .u-image-3 {
    height: 289px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-elements-3 {
    margin-top: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-left: 358px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    height: 442px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 442px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-elements-2 {
    margin-top: -117px;
  }

  .u-section-1 .u-image-3 {
    height: 442px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-elements-3 {
    margin-top: -118px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    margin-left: 158px;
  }

  .u-section-1 .u-image-1 {
    height: 272px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 272px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-elements-2 {
    margin-top: 53px;
  }

  .u-section-1 .u-image-3 {
    height: 272px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-elements-3 {
    margin-top: 52px;
  }
}