*,
*:after,
*:before {
  box-sizing: border-box;
}
@import url(https://fonts.googleapis.com/css?family=Raleway:400,900,800,700,600,500,300,200,100);
.clearfix:after, .menu:after {
  content: "";
  display: table;
  clear: both;
}


.MultiLevelMenu {
  width: 100%;
  position: relative;
  color: #000;
}
.menu {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.3);
}
.a {
	text-decoration-line : none;
}

.MultiItem:hover > .MultiLevelMenu {
  display: block;
  font-color: red;
}
.MultiItem:hover > .MultiLink {
  z-index: 1;
}

.MultiLink {
    display: block;
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: bold;
    padding: 15px 20px;
    position: relative;
    text-decoration-line : none;
	color:#000;
	
}

nav {
	box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.3);
}

a:hover {
  font-color: red;
}

.MultiLink:before, .MultiLink:after {
  content: '';
  display: block;
  width: 80px;
  height: 60%;
  background-color: transparent;
  position: align-self;
  position: absolute;
  z-index: -1;
  bottom: -6px;
}
.MultiLink:before {
  left: 0px;
  -webkit-transform: skewY(-14deg) translateX(-100%) translateY(-50%);
          transform: skewY(-14deg) translateX(-100%) translateY(-50%);
}
.MultiLink:after {
  right: 0px;
  -webkit-transform: skewY(14deg) translateX(100%) translateY(-50%);
          transform: skewY(14deg) translateX(100%) translateY(-50%);
}

.MultiLevelMenu.depth-1 {
  display: block;
  background-color: #fff;
  float:left;
  margin-bottom:2em;
}
.MultiLevelMenu.depth-1 > .menu > .MultiItem {
  float: left;
}



.MultiLevelMenu.depth-2 {
  display: none;
  background-color: white;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 1;
}
.MultiLevelMenu.depth-2 > .menu > .MultiItem {
  float: left;
  position: relative;
}


.MultiLevelMenu.depth-3 {
  display: none;
  box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  top: 100%;
  width: 400px;
}
.MultiLevelMenu.depth-3:before, .MultiLevelMenu.depth-3:after {
  content: '';
  display: block;
  top: 0;
  bottom: -30px;
  left: -30px;
  right: -30px;
  position: absolute;
}
.MultiLevelMenu.depth-3 > .menu > .MultiItem {
  float: none;
  position: relative;
  background-color: #e0e0e0;
  z-index: 1;
}


.MultiLevelMenu.depth-3 > .menu > .MultiItem > .MultiLink:before, .MultiLevelMenu.depth-3 > .menu > .MultiItem > .MultiLink:after {
  display: none;
}

/*
* Debug code
*/

.debug-visibility .MultiLevelMenu.depth-3:before, .debug-visibility .MultiLevelMenu.depth-3:after {
  background-color: rgba(255, 0, 0, 0.6) !important;
}

.debug-forgiveness .MultiLink:before, .debug-forgiveness .MultiLink:after,
.debug-forgiveness .MultiLevelMenu.depth-3:before,
.debug-forgiveness .MultiLevelMenu.depth-3:after {
  display: none !important;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mr-sm-2{
     top: 455px;
     left: 575px;
     height: 30px;
     width: 250px;
     float: right;
}








